body{
    background-color: black;
    color: limegreen;
}

input[type=text],input[type=text]:focus{
    background-color: #202123;
    color: limegreen;  
}

input[type=text],input[type=text]::placeholder{
    background-color: #202123;
    color: limegreen;  
}

.container{
    padding: 1%;
    margin: 5%;
    border: 1px dashed limegreen;
}

.custom-button {
    background-color: transparent; /* Transparent background */
    border: 2px solid limegreen; /* Limegreen border */
    color: limegreen; /* Limegreen text color */
    padding: 8px 16px; /* Add padding inside the button */
    border-radius: 10px; /* Rounded border */
  }

a,a::after{
    color: limegreen;
}